.navigation {
    overflow-x: auto;
    width: 100vw;
    padding-bottom: 4px;
    margin-bottom: 20px;
}

.navigation ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.navigation li {
    padding: 12px;
    margin: 0 8px;
    background-color: lightgray;
}