.navigation {
    margin-bottom: 24px;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
li {
    padding: 12px;
    margin: 0 8px;
    background-color: lightgray;
}